*,*::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/img/Header_BG.png);
    background-repeat: no-repeat; 
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: 2px solid red;        
}

.header__nav{
    width: 60%;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


