
body{
    margin: 0;
}

/* Блок №1 "Стартовый блок с шапкой" */

.main{
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/img/Header_BG.png);
    background-repeat: no-repeat; 
}

.header{
    margin-left: 5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;       
}

.header__nav{
    width: 60%;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.ul_menu a{
    color: #fff;
    text-decoration: none;
}

.ul_menu a:hover{
    text-decoration: underline;
    text-decoration-color: #961914;
}



.main-text{
    min-height: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: #fff;
    margin-right: 800px;
    margin-left: 70px;
    margin-top: 220px;
    margin-bottom: 220px;
}

.main-text h1{
    font-size: 54px;
}

.ellips{
    position: relative;
    background-image: url(/assets/img/Ellipse\ 1.png);
    background-repeat: no-repeat;
    display: inline;
    height: 10vh;
    width: 40vh;
}

.eat-button{
    width: 40vh;
    height: 5vh;
    color: #fff;
    background-color: #961914;
    border: none;
    border-radius: 5px;

}

/* стили к надписи */

/* .zooov-stroke{
    position: relative;
    display: flex;
    border: solid 2px green; 
    margin-left: 150vh;
    margin-top: 1vh; 
} */

/* Блок №2 "Что такое BARF" */

.what_is_barf{
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    margin-right: 120px;
    margin-left: 120px;
}

.what_is_barf_tegs{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30rem;
    min-width: 100px;
    height: auto;
    padding: 30px;
}

.what_is_barf_tegs li{
    color: #961914;
}

.what_is_barf_tegs span{
    color: #000;
}

.adults-and-puppies{
    position: relative;
    margin-right: 120px;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    background-color: #EAD1D0;
    height: 15rem;
    background-image: url(/assets/img/icons/Vector-line.svg);
    background-repeat: no-repeat;
}

/* Блок №3 "Для щенков и взрослых" */

.adults-and-puppies ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50vh;    
    height: 15rem;
    list-style-type: none;
}

.adults-and-puppies li{
    position: relative;
    height: 3rem;
    margin-right: 2rem; 
    margin-top: 0.5vh;
}

.meat{
    list-style-image: url(/assets/img/icons/meat.svg);
}

.bone{
     list-style-image: url(/assets/img/icons/bones.svg);
}

.vegetables{
    list-style-image: url(/assets/img/icons/vegetables.svg);
}

.liver{
    list-style-image: url(/assets/img/icons/liver.svg);
}

.offal{
    list-style-image: url(/assets/img/icons/Vector.svg);
}

.seeds-nuts{
    list-style-image: url(/assets/img/icons/seeds:nuts.svg);
}

.fruit{
    list-style-image: url(/assets/img/icons/fruit.svg);
}

/* Блок №4 "Об товаре */

.zooov-food{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 5rem;
}

.zooov-food h2{
    font-size: 45px;
    width: 130vh;
}

.zooov-food p{
    font-size: 16px;
    margin-left: 25vh;
}

.card{
    position: relative;
    display: flex;
    min-width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 120px;
    margin-left: 120px;
}

.card-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-item h5{
    font-size: 16px;
}

.card-item p{
    font-size: 16px;
    color: #9F9E9D;
    margin-top: 1rem;
}

.about_p{
    width: 15rem;
    font-size: 15px;
    color: red;
}

.order-button{
    color: #961914;
    background-color: #fff;
    border: #961914 solid 1px;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
}

/* Блок №5 "Расчитать кол-во" */

.count{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 10rem;
    min-width: 200px;
    flex-wrap: wrap;
    background-color: #EAD1D0;
    background-image: url(/assets/img/icons/count-vector\ 1.svg);
    background-repeat: no-repeat;
    margin-top: 2rem;
    margin-right: 120px;
    margin-left: 120px;
}


.count button{
    border-radius: 5px;
    color: #fff;
    background-color: #961914;
    height: 2rem;
    width: 15rem;
    border: none;
}

/* Блок почему zooov */

.why-zooov{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100px;
    margin-top: 5rem;
    margin-right: 120px;
    margin-left: 120px;
}

.why-zooov ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-image: url(/assets/img/icons/why_zooov_ector\ 1.svg);
    background-repeat: no-repeat;
}

.why-zooov li{
    margin-right: 20px;
}

.why-title{
    font-weight: bold;
    font-size: 16px;
}

/* адаптив */


@media screen and (max-width:1200px){
    .header{
        display: flex;
        width: 350px;
        height: auto;
        margin-left: 0;
    }

    .header__nav ul{
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-right: 1px;
        margin-top: 5px;
    }

    .header__nav li{
        margin-right: 5px;
    }

    .main-text{
        display: flex;
        margin-top: 20px;
        width: auto;
        margin-left: 10px;
    }

    .what_is_barf{
        margin-left:10px;
        margin-right: auto;
    }

    .what_is_barf-tegs{
        opacity: 0;
        margin-right: auto;
        width: auto;
    }

    .img-what-is-barf{
        display: none;
    }

    .adults-and-puppies{
        margin-left: 10px;
        display: flex;
        height: 400px;
        margin-right: auto;
    }

    .adults-and-puppies ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        height: auto;
        justify-content: space-between;
    }

    .zooov-food{
        margin-left: 10px;
        margin-right: auto;

    }

    .zooov-food p{
        margin-left: 30px;
    }

    .card{
        margin-left: 10px;
        margin-right: auto;
    }

    .card-item{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .count{
        margin-left: 10px;
        margin-right: auto;
    }

    .why-zooov{
        display: flex;
        margin-left: 10px;
        margin-right: auto;
    }

    .why-zooov ul{
        flex-direction: column;
    }
}

@media screen and (max-height:200px){
    .main{
        height: auto;
    }

    .main-text{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .eat-button{
        width: 100px;
        height: auto;
    }
}

@media screen and (max-height:300px){
    .main{
        height: auto;
    }

    .main-text{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .eat-button{
        width: 100px;
        height: auto;
    }
}

@media screen and (max-height:400px){
    .main{
        height: auto;
    }

    .main-text{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .eat-button{
        width: 100px;
        height: auto;
    }
}

@media screen and (max-height:600px){
    .main{
        height: auto;
    }

    .main-text{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .eat-button{
        width: 100px;
        height: auto;
    }
}

@media screen and (max-height:800px){
    .main{
        height: auto;
    }

    .main-text{
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

    .eat-button{
        width: 100px;
        height: auto;
    }
}




   







